<style>
    .blazored-modal-fade-in {
        animation: @(Options?.Animation?.Duration)s ease-out 0s ModalFadeIn;
    }

    .blazored-modal-fade-out {
        animation: @(Options?.Animation?.Duration)s ease-out 0s ModalFadeOut;
        opacity: 0;
    }

    @@keyframes ModalFadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@keyframes ModalFadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

<div class="blazored-modal-container @Position" @ref="_modalReference">

    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>

    <div class="@Class @AnimationClass" @onkeyup="HandleWrapperKeyUp">
        @if (!HideHeader)
        {
            <div class="blazored-modal-header">
                <h3 class="blazored-modal-title">@Title</h3>
                @if (!HideCloseButton)
                {
                    <button type="button" class="blazored-modal-close" @onclick="(() => Parent.CancelInstance(Id))">
                        <span>&times;</span>
                    </button>
                }
            </div>
        }
        <div class="blazored-modal-content">
            <CascadingValue Value="this">
                @Content
            </CascadingValue>
        </div>
    </div>
</div>