<div class="blazored-modal-container @Position">

    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>

    <div class="blazored-modal-wrapper">
        <div class="@Class">
            @if (!HideHeader)
            {
            <div class="blazored-modal-header">
                <h3 class="mr-2">
                @switch (ModalType)
                    {
                    case ModalType.Info:
                        <span class="@Parent.InfoIconClass"></span>
                        break;
                    case ModalType.Warning:
                        <span class="@Parent.WarningIconClass"></span>
                        break;
                    case ModalType.Error:
                        <span class="@Parent.ErrorIconClass"></span>
                        break;
                    case ModalType.Success:
                        <span class="@Parent.SuccessIconClass"></span>
                        break;
                    case ModalType.Question:
                        <span class="@Parent.QuestionIconClass"></span>
                        break;
                }
                </h3>
                <h3 class="blazored-modal-title">@Title</h3>
                @if (!HideCloseButton)
                {
                    <button type="button" class="blazored-modal-close" @onclick="(() => Parent.CancelInstance(Id))">
                        <span>&times;</span>
                    </button>
                }
            </div>
            }
            <div class="blazored-modal-content">
                <CascadingValue Value="this">
                    @Content
                </CascadingValue>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] private BlazoredModal Parent { get; set; }
    [CascadingParameter] private ModalOptions GlobalModalOptions { get; set; }


    [Parameter] public string Message { get; set; }
    [Parameter] public string CaptionYesButton { get; set; }
    [Parameter] public string CaptionNoButton { get; set; }
    [Parameter] public string CaptionCancelButton { get; set; }
    [Parameter] public string CaptionOkButton { get; set; }
    [Parameter] public ModalType ModalType { get; set; }
    [Parameter] public ModalButton ModalButton { get; set; }


    [Parameter] public ModalOptions Options { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment Content { get; set; }
    [Parameter] public Guid Id { get; set; }

    private string Position { get; set; }
    private string Class { get; set; }
    private bool HideHeader { get; set; }
    private bool HideCloseButton { get; set; }
    private bool DisableBackgroundCancel { get; set; }

    protected override void OnInitialized()
    {
        ConfigureInstance();
    }

    /// <summary>
    /// Sets the title for the modal being displayed
    /// </summary>
    /// <param name="title">Text to display as the title of the modal</param>
    public void SetTitle(string title)
    {
        Title = title;
        StateHasChanged();
    }

    /// <summary>
    /// Closes the modal with a default Ok result />.
    /// </summary>
    public void Close()
    {
        Close(ModalResult.Ok<object>(null));
    }

    /// <summary>
    /// Closes the modal with the specified <paramref name="modalResult"/>.
    /// </summary>
    /// <param name="modalResult"></param>
    public void Close(ModalResult modalResult)
    {
        Parent.DismissInstance(Id, modalResult);
    }

    /// <summary>
    /// Closes the modal and returns a cancelled ModalResult.
    /// </summary>
    /// <param name="modalResult"></param>
    public void Cancel()
    {
        Parent.DismissInstance(Id, ModalResult.Cancel());
    }

    private void ConfigureInstance()
    {
        Position = SetPosition();
        Class = SetClass();
        HideHeader = SetHideHeader();
        HideCloseButton = SetHideCloseButton();
        DisableBackgroundCancel = SetDisableBackgroundCancel();
    }

    private string SetPosition()
    {
        ModalPosition position;
        if (Options.Position.HasValue)
        {
            position = Options.Position.Value;
        }
        else if (GlobalModalOptions.Position.HasValue)
        {
            position = GlobalModalOptions.Position.Value;
        }
        else
        {
            position = ModalPosition.Center;
        }

        switch (position)
        {
            case ModalPosition.Center:
                return "blazored-modal-center";
            case ModalPosition.TopLeft:
                return "blazored-modal-topleft";
            case ModalPosition.TopRight:
                return "blazored-modal-topright";
            case ModalPosition.BottomLeft:
                return "blazored-modal-bottomleft";
            case ModalPosition.BottomRight:
                return "blazored-modal-bottomright";
            default:
                return "blazored-modal-center";
        }
    }

    private string SetClass()
    {
        if (!string.IsNullOrWhiteSpace(Options.Class))
            return Options.Class;

        if (!string.IsNullOrWhiteSpace(GlobalModalOptions.Class))
            return GlobalModalOptions.Class;

        return "blazored-modal";
    }

    private bool SetHideHeader()
    {
        if (Options.HideHeader.HasValue)
            return Options.HideHeader.Value;

        if (GlobalModalOptions.HideHeader.HasValue)
            return GlobalModalOptions.HideHeader.Value;

        return false;
    }

    private bool SetHideCloseButton()
    {
        if (Options.HideCloseButton.HasValue)
            return Options.HideCloseButton.Value;

        if (GlobalModalOptions.HideCloseButton.HasValue)
            return GlobalModalOptions.HideCloseButton.Value;

        return false;
    }

    private bool SetDisableBackgroundCancel()
    {
        if (Options.DisableBackgroundCancel.HasValue)
            return Options.DisableBackgroundCancel.Value;

        if (GlobalModalOptions.DisableBackgroundCancel.HasValue)
            return GlobalModalOptions.DisableBackgroundCancel.Value;

        return false;
    }

    private void HandleBackgroundClick()
    {
        if (DisableBackgroundCancel) return;

        Parent.CancelInstance(Id);
    }

}