@inherits BlazoredModalBase
@using Microsoft.AspNetCore.Components.Web

<div class="blazored-modal-container @ComponentPosition @(IsVisible ? "blazored-modal-active" : string.Empty)">

    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>

    <div class="blazored-modal-wrapper">
        <div class="@ComponentStyle">
            <div class="blazored-modal-header">
                <h3 class="blazored-modal-title">@Title</h3>
                @if (!ComponentHideCloseButton)
                {
                    <button type="button" class="blazored-modal-close" @onclick="@(() => ModalService.Cancel())">
                        <span>&times;</span>
                    </button>
                }
            </div>
            <div class="blazored-modal-content">
                <CascadingValue Value="@Parameters">
                    @Content
                </CascadingValue>
            </div>
        </div>
    </div>
</div>
